{% extends 'appblog/base.html' %}
{% block main %}
    <form action="/search-user" method="GET">
        {% csrf_token %}
        <table class="table table-striped">
            {{search_form.as_table}}
        </table>

        <input type="submit" value="Post">
    </form>

    {% if error %}<p style="color:red">{{error}}</p>{% endif %}
    
    {% if usuario %}
        <p> Usuario encontrado: <span style="font-weight: bold;">{{usuario.user}}</span></p>
    {% else %}
        <p> No se encontró ningún usuario</p>
    {% endif %}
{% endblock %}